.glow-slide {
    border: 0.5px solid #00e9ec;
    border-radius: 32px;
    box-shadow: 0px 0px 56.7px #fffefe52 inset;
    backdrop-filter: blur(77.69999694824219px);
  }
  
  .slide-item {
    display: block;
    max-width: 100%;
    padding: 1.5rem;
    aspect-ratio: 1/1;
  }
  
  /* absolute top-1/2 left-0 transform translate-y-1/2 z-10 */
  .swiper-button-prev-1,
  .swiper-button-prev-2 {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: -1rem;
  }
  .swiper-button-next-1,
  .swiper-button-next-2 {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: -1rem;
  }
  .swiper-button-prev-1,
  .swiper-button-next-1,
  .swiper-button-prev-2,
  .swiper-button-next-2 {
    opacity: 0.8;
    cursor: pointer;
    height: 3.6rem;
    width: 3.6rem;
    background: linear-gradient(
      90deg,
      rgba(17, 93, 242, 0.6) -81.52%,
      rgba(0, 233, 236, 0.6) 145.22%
    );
    transition: opacity 0.3s ease;
  }
  .swiper-button-prev-1:hover,
  .swiper-button-next-1:hover,
  .swiper-button-prev-2:hover,
  .swiper-button-next-2:hover {
    opacity: 1;
  }
  
  .swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
  
  @media (max-width: 600px) {
    .warpper-content h2 {
      font-size: 2.8rem;
      font-weight: 700;
    }
  
    .warpper-content h3 {
      font-size: 1.6rem;
      font-weight: 700;
    }
    .slide-item {
      padding: 0 !important;
    }
  }
  